{% extends "app/base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block video %}
<div class="video-container" id="videoContainer">
<!-- <video id="shaka" class="player" autoplay></video> -->
<!-- <canvas id="ipCamera" class="canvas"></canvas> -->
<div id="auth_res" style="    position: absolute;
left: calc(50% - 350px);
top: calc(50% - 395px);
z-index: 1000;
width: 704px;
height: 155px;
background-color: green;
color: white;
text-align: center;
font-size: 70px;
line-height: 155px;
font-weight: bold;">
AUTHORIZING
</div>
<div id="mainVideo">
    
</div>
<button onclick="stop_cam();" style="width: 200px;position: absolute;left: calc(50% - 100px);top: calc(50% + 240px);">
    End Camera
</button>
</div>
{% endblock video %}

{% block content %}
<input type="hidden" id="hls" style="margin-left: 500px;" value="{{ url }}">
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>IpCamera <small>Add or Edit Cameras</small></h3>
      </div>
    </div>
    <div id="createNew" class="modal" role="dialog">
      <div class="modal-dialog modal-primary">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Create New Camera</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group row">
                      <label for="editName" class="col-sm-3 text-right control-label col-form-label">Name : </label>
                      <div class="col-sm-9">
                          <input id="createName" type="text" class="form-control" placeholder="Camera Name">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editAddress" class="col-sm-3 text-right control-label col-form-label">Address : </label>
                      <div class="col-sm-9">
                          <input id="createAddress" type="email" class="form-control" placeholder="Camera Address">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editPort" class="col-sm-3 text-right control-label col-form-label">Port : </label>
                      <div class="col-sm-9">
                          <input id="createPort" type="text" class="form-control" placeholder="Camera Port Number">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editVStream" class="col-sm-3 text-right control-label col-form-label">VideoStream : </label>
                      <div class="col-sm-9">
                          <input id="createVStream" type="text" class="form-control" placeholder="Video Stream Name">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editDStream" class="col-sm-3 text-right control-label col-form-label">DataStream : </label>
                      <div class="col-sm-9">
                          <input id="createDStream" type="text" class="form-control" placeholder="Data Stream Name">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editLogin" class="col-sm-3 text-right control-label col-form-label">Account : </label>
                      <div class="col-sm-9">
                          <input id="createLogin" type="text" class="form-control" placeholder="Camera Account">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editPassword" class="col-sm-3 text-right control-label col-form-label">Password : </label>
                      <div class="col-sm-9">
                          <input id="createPassword" type="password" class="form-control" placeholder="Camera password">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editSerialNumber" class="col-sm-3 text-right control-label col-form-label">Serial_number : </label>
                      <div class="col-sm-9">
                          <input id="createSerialNumber" type="text" class="form-control" placeholder="Camera Serial Number">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editPropertyId" class="col-sm-3 text-right control-label col-form-label">Property_id : </label>
                      <div class="col-sm-9">
                          <input id="createPropertyId" type="text" class="form-control" placeholder="Property Id">
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" onclick="onCreate()" class="btn btn-success">Create</button>
              </div>
          </div>

      </div>
  </div>
    <div class="clearfix"></div>

    <div class="row">
      <button data-toggle="modal" data-target="#createNew"> Create New</button>
        <table cellpadding="0" cellspacing="0" border="0" id="example">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Port</th>
                  <th>Stream Name</th>
                  <th>Data Stream Name</th>
                  <th>Serial_number</th>
                  <th>Property_id</th>
                  <th>CreateTime</th>
                  <!-- <th>OnlineStatus</th> -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.4.1/shaka-player.compiled.js"></script>
  <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
    });

    var serial;

    function stop_cam() {
        $.ajax({
            type: 'POST',
            url: "stop-record",
            data: {
                serial : serial
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                location.reload();
            }
        });
        $("#mainVideo").empty();
        $("#videoContainer").hide();
        flag_auth = 0;
    }

    function draw(v, c, w, h) {
      if(v.paused || v.ended) return false;
      c.drawImage(v,0,0,w,h);
      setTimeout(draw,20,v,c,w,h);
    }

    $(document).ready(function() {
        $('#example').dataTable( {
            "processing": true,
            "ajax": {
                "processing": true,
                "url": "{% url 'my_ajax_url' %}",
                "dataSrc": ""
            },

            "columns": [
                    { "data" : "fields.name" },
                    { "data" : "fields.address" },
                    { "data" : "fields.port" },
                    { "data" : "fields.video_stream"},
                    { "data" : "fields.data_stream"},
                    { "data" : "fields.serial_number" },
                    { "data" : "fields.property_id" },
                    { "data" : "fields.created_at" },
                    // { mRender: function (data, type, row) {
                    //     if (row["online_status"] == false) {
                    //         return 'OFFLINE';
                    //     } else {
                    //         return 'ONLINE';
                    //     }
                    // }}
                ]
        } );
    } );
    $('#example tbody').on('click', 'tr', function() {
        var data = $("#example").DataTable().row(this).data();
        console.log(data);
        rtsp = "rtsp://" + data["fields"]["login"] + ":" + data["fields"]["password"] + "@" + data["fields"]["address"] + ":" + data["fields"]["port"] + "/cam/realmonitor?channel=1&subtype=1";
        url = "https://" + data["fields"]["address"] + ":" + data["fields"]["port"];
        high = "rtsp://" + data["fields"]["login"] + ":" + data["fields"]["password"] + "@" + data["fields"]["address"] + ":" + data["fields"]["port"] + "/cam/realmonitor?channel=1&subtype=2";
        serial = data["fields"]["serial_number"];
        //rtsp = "rtsp://" + data["fields"]["login"] + ":" + data["fields"]["password"] + "@" + data["fields"]["address"] + ":" + data["fields"]["port"] + "/cam/playback?channel=1&starttime=2018_09_15_12_37_05&endtime=2018_09_15_18_34_14";
        //rtsp = "rtsp://184.72.239.149/vod/mp4:BigBuckBunny_175k.mov";
        $.ajax({
            type: 'POST',
            url: "start-video",
            data: {
                streamUrl: rtsp,
                camurl : url,
                serial : serial,
                high : high
            },
            dataType: 'json',
            success: function (data) {
                $("#mainVideo").html("<img src=\"/video_feed?streamUrl=" + rtsp + "\" class=\"main-video\">");
                flag_auth = 1;
                authorize();
            }
        });
        $("#videoContainer").show();
    });

    var flag_auth = 0;
    function authorize() {
        console.log("authorize");
        $.ajax({
            type: 'GET',
            url: "cam-authorize",
            data: {
                serial : serial
            },
            dataType: 'json',
            success: function (data) {
                if ( flag_auth == 1) {
                    $("#auth_res").text(data["status"]);
                }
                if (data["status"] == "AUTHORIZED") {
                    flag_auth = 0;
                }
                console.log(data);
            },
            complete: function() {
                if( flag_auth == 1 ) {
                    //setTimeout(authorize, 2000);
                    authorize();
                }
            }
        });
    }
    

    // function getOnlineStatus() {
    //     $.get("getOnlineState", function())
    // }
    // getOnlineStatus();
    
    function onCreate() {
      prename = $("#createName").val();
      preaddress = $("#createAddress").val();
      preport = $("#createPort").val();
      prevstream = $("#createVStream").val();
      predstream = $("#createDStream").val();
      prelogin = $('#createLogin').val();
      prepassword = $('#createPassword').val();
      preserialnumber = $("#createSerialNumber").val();
      prepropertyid = $("#createPropertyId").val();
      if (prename == '') {
        alert("Please insert Camera Name");
        return;
      }
      $.ajax({
        /* the route pointing to the post function */
        url: '/camera/create-new',
        type: 'POST',
        /* send the csrf-token and the input to the controller */
        data: {
            name: prename,
            address: preaddress,
            port: preport,
            vstream: prevstream,
            dstream: predstream,
            login: prelogin,
            password: prepassword,
            serialnumber: preserialnumber,
            propertyid: prepropertyid
        },
        dataType: 'JSON',
        /* remind that 'data' is the response of the AjaxController */
        success: function (data) {
          console.log(data);
          if ( data.status == "failed" ) {
              alert(data.msg);
          } else {
              alert(data.status);
              location.reload();
          }
        }
      });
    }
  </script>
{% endblock javascripts %}