{% extends "app/base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block video %}
<div class="video-container" id="videoContainer">
<video id="shaka" class="player" autoplay></video>
<canvas id="ipCamera" class="canvas"></canvas>
<button onclick="stop_cam();" style="width: 200px;position: absolute;left: calc(50% - 100px);top: calc(50% + 240px);">
    End Camera
</button>
</div>
{% endblock video %}

{% block content %}
<input type="hidden" id="hls" style="margin-left: 500px;" value="{{ url }}">
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Users <small>Add or Edit Users</small></h3>
      </div>
    </div>
    <div id="createNew" class="modal" role="dialog">
      <div class="modal-dialog modal-primary">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Create New User</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group row">
                      <label for="editName" class="col-sm-3 text-right control-label col-form-label">Name : </label>
                      <div class="col-sm-9">
                          <input id="createName" type="text" class="form-control" placeholder="User Name">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="editPhoneno" class="col-sm-3 text-right control-label col-form-label">Phone No : </label>
                      <div class="col-sm-9">
                          <input id="createPhoneno" type="email" class="form-control" placeholder="Phone Number">
                      </div>
                  </div>
                  <div class="form-group row">
                        <label for="propertyOptions" class="col-sm-3 text-right control-label col-form-label">Property : </label>
                        <div class="col-sm-9">
                            <select id="propertyOptions" name="character"></select>
                        </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" onclick="onCreate()" class="btn btn-success">Create</button>
              </div>
          </div>

      </div>
  </div>
  <div id="editUser" class="modal" role="dialog">
        <div class="modal-dialog modal-primary money_detail">
    
          <!-- Modal content-->
          <input type="hidden" id="editUserid">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit User</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="editName" class="col-sm-3 text-right control-label col-form-label">UserName : </label>
                <div class="col-sm-9">
                  <input id="editName" type="text" class="form-control" placeholder="Username">
                </div>
              </div>
              <div class="form-group row">
                <label for="editPhoneno" class="col-sm-3 text-right control-label col-form-label">PhoneNo : </label>
                <div class="col-sm-9">
                  <input id="editPhoneno" type="text" class="form-control" placeholder="Phone No">
                </div>
              </div>
              <div class="form-group row">
                    <label for="editProperty" class="col-sm-3 text-right control-label col-form-label">Property : </label>
                    <div class="col-sm-9">
                        <select id="editProperty" name="character"></select>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="onSubmitEdit()" class="btn btn-success">save</button>
            </div>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>

    <div class="row">
      <button data-toggle="modal" data-target="#createNew"> Create New</button>
        <table cellpadding="0" cellspacing="0" border="0" id="example">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>phoneno</th>
                  <th>Actions</th>
                  <th>Photo</th>
                  <th>Status</th>
                  <th>CreateTime</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.4.1/shaka-player.compiled.js"></script>
  <script type="text/javascript" language="javascript" class="init">

    $(document).ready(function() {
        $('#example').dataTable( {
            "processing": true,
            "ajax": {
                "processing": true,
                "url": "{% url 'get_user_table' %}",
                "dataSrc": ""
            },

            "columns": [
                    { "data" : "fields.name" },
                    { "data" : "fields.phoneno" },
                    { mRender: function (data, type, row) {
                        return '<button onclick="edit(\'' + row["pk"] +'\')" data-toggle="modal" data-target="#editUser">Edit</button>' + '<button onclick="remove(\'' + row["pk"] +'\')">Remove</button>';
                    }},
                    { mRender: function (data, type, row) {
                        prop_id = row["fields"]["property_id"];
                        return '<button onclick="changePhoto(\'' + prop_id +'\')">Change Photo</button>';
                    }},
                    { mRender: function (data, type, row) {
                        if (row["fields"]["registered"]) {
                            return '<p class="pReg">Registered<p>';
                        } else {
                            return '<p class="nReg" onclick="register(\'' + row["pk"]  + '\')">Not Registered<p>';
                        }
                    }},
                    { "data" : "fields.created_at" }
                ]
        } );
        $.ajax({
            /* the route pointing to the post function */
            url: '/user/get-properties',
            type: 'POST',
            /* send the csrf-token and the input to the controller */
            data: {
            },
            dataType: 'JSON',
            /* remind that 'data' is the response of the AjaxController */
            success: function (data) {
                data.forEach(element => {
                    proSelect = document.getElementById('propertyOptions');
                    proSelect.options[proSelect.options.length] = new Option(element["fields"]["address"], element["pk"]);
                    editSelect = document.getElementById('editProperty');
                    editSelect.options[editSelect.options.length] = new Option(element["fields"]["address"], element["pk"]);
                });
            }
        });
    } );
    // $('#example tbody').on('click', 'tr', function() {
    //   var data = $("#example").DataTable().row(this).data();
    //   alert('you clicked on ' + data["fields"]['name'] + '\'s row');
    // });

    function edit(id) {
        $.ajax({
            /* the route pointing to the post function */
            url: '/user/get-user',
            type: 'POST',
            /* send the csrf-token and the input to the controller */
            data: {
                id: id
            },
            dataType: 'JSON',
            /* remind that 'data' is the response of the AjaxController */
            success: function (data) {
                $("#editName").val(data["name"]);
                $("#editPhoneno").val(data["phoneno"]);
                $("#editProperty").val(data["prop_id"]);
                $("#editUserid").val(data["pk"]);
            }
        });
    }

    function onSubmitEdit() {
        id = $("#editUserid").val();
        prename = $("#editName").val();
        prephoneno = $("#editPhoneno").val();
        prepropid = $('#editProperty').val();
        $.ajax({
            /* the route pointing to the post function */
            url: '/user/update',
            type: 'POST',
            /* send the csrf-token and the input to the controller */
            data: {
                id: id,
                name: prename,
                phoneno: prephoneno,
                propid : prepropid
            },
            dataType: 'JSON',
            /* remind that 'data' is the response of the AjaxController */
            success: function (data) {
            if ( data.status == "failed" ) {
                alert(data.msg);
            } else {
                alert(data.status);
                location.reload();
            }
            }
        });
    }

    function onCreate() {
      prename = $("#createName").val();
      prephoneno = $("#createPhoneno").val();
      prepropid = $('#propertyOptions').val();
      if (prename == '') {
        alert("Please insert User Name");
        return;
      }
      $.ajax({
        /* the route pointing to the post function */
        url: '/user/create-new',
        type: 'POST',
        /* send the csrf-token and the input to the controller */
        data: {
            name: prename,
            phoneno: prephoneno,
            propid : prepropid
        },
        dataType: 'JSON',
        /* remind that 'data' is the response of the AjaxController */
        success: function (data) {
          if ( data.status == "failed" ) {
              alert(data.msg);
          } else {
              alert(data.status);
              location.reload();
          }
        }
      });
    }

    function remove(id) {
        $.ajax({
            type: 'POST',
            url: "/user/remove",
            data: {
                id : id
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == "failed") {
                    alert("Failed");
                } else {
                    alert("Success");
                    location.reload();
                }
            }
        });
    }

    function changePhoto(prop_id) {
        window.location.href = "/ipcameras?prop_id=" + prop_id
    }

    function register(id) {
        $.ajax({
            type: 'POST',
            url: "/user/register",
            data: {
                id : id
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == "failed") {
                    alert("Failed");
                } else {
                    alert("Success");
                    location.reload();
                }
            }
        });
    }
  </script>
{% endblock javascripts %}